bin/
obj/
*.suo
*.user
*.VC.db
*.pdb
*.log
*.tmp
*.bak
*.ilk
*.idb
*.iobj
*.ipdb
*.recipe
*.tlog
*.lastbuildstate

master/

IMOD/Driver/build/
IMOD/Driver/obj/
IMOD/build/
IMOD/DTIMOD.sys.bak
IMOD/IMOD/intermediates/
IMOD/IMOD/intermidates/

IMOD/KDU/Source/**/output/
IMOD/KDU/Source/Hamakaze/Utils/GenAsIo2Unlock.exe
